#«r0»{
    padding: 7px 4px;
}
.MuiInputBase-input{
    padding: 7px;
}
.MuiOutlinedInput-input{
    padding: 7px;
}
.MuiInputBase-inputAdornedEnd{
    padding: 7px;
}
.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 7px;
}